// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {background:white; padding-top: 56px;} 
        
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bg-dark{background-color:#1d1d1f !important;}

.subBanner{background-color:#F0F0F0; margin-left: auto; margin-right: auto; text-align: center;}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}


hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
